1. KICC_SHOP_ORDER 테이블중에 다음 필드가 추가되었다. 이것을 이용한다. 
    - RESERVED_3 : 유효기간
    - RESERVED_4 : 카드번호
    - RESERVED_5 : 할부기간
2. 시나리오에서 유효기간, 할부기간을 입력 받는 부분을 건너 뛰고 (코드를 삭제하지는 말아라) 이 필드를 사용한다.
3. 카드번호에 관련해서는 RESERVED_4 필드에는 보통 12자리의 카드번호가 저장되어 있을 것이다 시나리오에서는 4자리만 입력 받아서 RESERVED_4 의 카드번호 뒤를 채운다. 즉 완성된 카드번호는 16자리가 될 것이다. 
   필드를 업데이트 하는 것은 아니고 승인요청을 할 때 완성된 카드번호를 사용하면 된다. 
