주문정보 예시 
ORDER_NO : 1111  PHONE_NO : 01011111111  AUTH_NO 1111
ORDER_NO : 2222  PHONE_NO : 01011111111  AUTH_NO 1111
ORDER_NO : 3333  PHONE_NO : 01011111111  AUTH_NO 1111
ORDER_NO : 4444  PHONE_NO : 01022222222  AUTH_NO 2222
ORDER_NO : 5555  PHONE_NO : 01022222222  AUTH_NO 2222
ORDER_NO : 6666  PHONE_NO : 01033333333  AUTH_NO 3333


1. 헌재는 주문정보를 가져올 때 휴대폰번호를 사용해서 매칭되는 주문정보 1개만을 가져온다. 
   이 부분을 수정해서 PHONE_NO와 AUTH_NO를 사용해서 매칭되는 주문정보 여러개를 가져온다. 
   PHONE_NO와 AUTH_NO가 모두 일치하는 주문정보를 가져온다. 
   PHONE_NO를 01011111111 로 검색했을 떄 1111, 2222, 3333 주문정보를 가져온다. 
   PHONE_NO를 01022222222 로 검색했을 떄 2222, 5555 주문정보를 가져온다. 
   PHONE_NO를 01033333333 로 검색했을 떄 3333, 6666 주문정보를 가져온다. 


2. 복수개의 주문건이 있으면 승인요청도 복수개로 한다. 
   예를들어 ORDER_NO가 1111, 2222, 3333 인 주문건 3개를 가져왔을 떄 승인요청을 3개로 한다.
   ARS로 입력받는 카드번호 뒷 4자리, 주민번호, 비밀번호는 1111, 2222, 3333 주문건 3개에 모두 동일하게 적용된다. 
   ARS의 입력 시나리오는 한번만 진행된다. 3건이라고 3번 진행되는 것이 아니다. 

3. 전체 Flow 
   PHONE_NO 입력 -> 주문정보 조회 -> 주문정보 3건 조회됨 -> 카드번호 4자리 입력 -> 주민번호 입력 -> 비밀번호 입력 -> 주문정보 3건 결제 처리

